<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909234130361-2u2ka32f7olsr4e6jrh31031ghi4vgip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909234130361-2u2ka32f7olsr4e6jrh31031ghi4vgip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909234130361-sssjc4boqq41qstfrjnet1dhlhksv1jb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXLoBUxG4vPDWSaXIwG7HpjPqm0bzGSjc</string>
	<key>GCM_SENDER_ID</key>
	<string>909234130361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f848e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f848e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909234130361:ios:2fbc2652fcd128a769ba68</string>
</dict>
</plist>